		<section class="container">
			<div class="col-md-7 content">
				
				<h4 class="title">Credit Score</h4>
				<p>A credit score is a statistical number that depicts a person's creditworthiness. Lenders use a credit score to evaluate the probability that a person repays his debts. Companies generate a credit score for each person with a Social Security number using data from the person's previous credit history. A credit score is a three-digit number ranging from 300 to 850, with 850 as the highest score that a borrower can achieve. The higher the score, the more financially trustworthy a person is considered to be.</p>
				<p>A credit score plays a key role in a lender's decision to offer credit. For example, a borrower with a low score that is under 600 is not eligible to receive a prime mortgage loan and receives a referral to a subprime lender for a subprime mortgage, which offers a higher interest rate; however, a borrower with a high score of 700 or above is creditworthy and is eligible to receive a lower interest rate, which results in paying less money in interest over the life of the loan.</p>
			</div>
				
			<div class="col-md-5 ">
				<div class="credit-score">
					<iframe class="cs-iframe" src="https://www.youtube.com/embed/UgtaL7z-fFY" frameborder="0" allowfullscreen></iframe>
					<p class="video-blurb">READ on GOBankingRates: How to Rebuild <br />
						Credit: <a href="http://bit.ly/2s3kfQk">http://bit.ly/2s3kfQk</a></p>
					</p>
				</div>
			</div>
		</section>

		<section class="container content">
			<div class="col-md-12 tips-title">
				<h2>Tips for credit score stuff</h2>
				<p>Things such as your salary, your age and a history of your credit accounts, all influence your credit scoring. Here are a few ways you can improve your credit score: </p>
			</div>
			

			<table class="table">
			    <tr>
			        <td>
					 	<h3 class="list-title"><i class="fa fa-check tick" aria-hidden="true"></i>  Keep on top of your repayments</h3>
					 	<p class="list-content">A missed or late payment stays on your credit record for at least 3 years. Even if you simply forgot to make the payment, lenders might assume that you’re not reliable enough to lend money to. Speak to your existing lender if you feel you aren’t able to keep up your repayments.</p>
					</td>
			        <td>					
					 	<h3 class="list-title"><i class="fa fa-times cross" aria-hidden="true"></i>Don’t make too many credit applications</h3>
					 	<p class="list-content">To lenders, a person who makes a lot of credit applications is likely to be someone that’s failing to get the credit they need – which doesn’t look good on your record, so double check the minimum eligibility criteria before you apply. </p>
					</td>
			      </tr>

			      <tr>
			        <td>
						<h3 class="list-title"><i class="fa fa-check tick" aria-hidden="true"></i>Register to vote</h3>
						<p class="list-content">Your political inclinations have little to do with your credit rating, but the fact that you’re registered to vote does have an impact on your rating. Being registered to vote gives lenders a proof of address. To register, contact you local council or visit <a href="www.aboutmyvote.co.uk">aboutmyvote.co.uk</a></p>
					</td>
			        <td>
					 	<h3 class="list-title"><i class="fa fa-times cross" aria-hidden="true"></i>Try not to move house too often</h3>
					 	<p class="list-content">Lenders place less trust in those that keep moving house. When you apply for credit you’ll be asked to list the addresses you’ve lived at in the last three years. Your credit report also lists addresses that you’ve been linked to.</p>
					</td>
			      </tr>

			      <tr>
			        <td>
					 	<h3 class="list-title"><i class="fa fa-check tick" aria-hidden="true"></i>Close any joint accounts that have a bad credit record</h3>
					 	<p class="list-content">If you’ve held a joint account with someone who has a bad credit record, this may affect your ability to get credit. The reason for this is that lenders may assume that your partner could have an influence on your income at any time.</p>
					</td>
			        
			        <td>
					 	<h3 class="list-title"><i class="fa fa-times cross" aria-hidden="true"></i>Avoid missing payments</h3>
					 	<p class="list-content">From mortgages to electricity bills, many missed payments will stay on file for six years.</p>
			        </td>
			      </tr>

			</table>
				
		</section>	